{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "config": "./src/config",
        "graphql": "./src/graphql",
        "routes": "./src/routes",
        "services": "./src/services"
      }
    }]
  ]
}